MenuButton {
    font-size: 48pt;
    color: dimgray;
    border: 10px solid white;
    border-radius: 30px;
    font-weight: bold;
}

MenuButton:hover {
        color: black;
        border: 10px solid black;
}

MenuButton#exercises {
    background-image: url(./resources/Hourglass_512.png);
}

MenuButton#lessons {
    background-image: url(./resources/math-seamless_256.jpg);
}

MenuButton#statistics {
    background-image: url(./resources/calculator_yellow.png);
}

/* QWidget { */
/*     width: 10px; */
/*     font-size: 48pt; */
/*     background-color: red; */
/* } */
/**/
/* MultipleChoiceQuestionWidget { */
/*     font-size: 120%; */
/* } */
/**/
/* OverviewQuestionWidget { */
/*     font-size: 120%; */
/* } */
