MenuButton {
    font-size: 48pt;
    color: black;
    border: 10px solid dimgray;
    border-radius: 30px;
    font-weight: bold;
}

MenuButton:hover {
        border: 10px solid black;
}

MenuButton#exercises {
    background-image: url(./resources/Hourglass_512.png);
}

MenuButton#lessons {
    background-image: url(./resources/math-seamless_256.jpg);
}

MenuButton#statistics {
    background-image: url(./resources/calculator_yellow.png);
}

QuestionLabel {
    font-size: 18pt;
}

QuestionLineEdit {
    font-size: 18pt;
}

QRadioButton {
    font-size: 18pt;
}
