body {
    background-color: #EFEFEF;
}
.math {
    font-size: 24pt;
    background-color: lightcyan;
    border-left: 1em solid deepskyblue;
    padding: 1em;
}
h1 {
    background-color: rosybrown;
    padding: 1em;
}
h2.activity {
    background-color: darkseagreen;
    padding: 1em;
    width: max-content;
}
h2.remember {
    font-style: oblique;
    background-color: crimson;
    padding: 0.5em;
    color: gold;
    width: max-content;
}
div.remember {
    background-color: #E7F5FE;
    padding: 0.5em;
}

div.think {
    background-color: thistle;
}

ul {
    position: relative;
    list-style: none;
}

li.question::before {
    content: '▶';
    position: absolute;
    color: darkseagreen;
    left: 0;
}

li.red::before{
    content: '\2022'; /* unicode dot */
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    color: red;
    left: 0;
}
li.green::before{
    content: '\2022'; /* unicode dot */
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    color: green;
    left: 0;
}

li.blue::before{
    content: '▶';
    position: absolute;
    color: blue;
    left: 0;
}


/* fraction */
.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
} 
