body {
    background-color: #EFEFEF;
}
.math {
    font-size: 24pt;
    background-color: lightcyan;
    border-left: 1em solid deepskyblue;
    padding: 1em;
}
h1 {
    background-color: rosybrown;
    padding: 1em;
}
h2 {
    background-color: darkseagreen;
    padding: 1em;
}

ul.question {
    position: relative;
    list-style: none;
}

li.question::before {
    content: '▶';
    position: absolute;
    color: darkseagreen;
    left: 0;
}

ul.answer {
    position: relative;
    list-style: none;
}

li.answer::before{
    content: '⠿';
    position: absolute;
    color: orangered;
    left: 0;
}

/* fraction */
.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
} 
