body {
    background-color: #EFEFEF;
}
.math {
    font-size: 24pt;
    background-color: lightcyan;
    border-left: 1em solid deepskyblue;
    padding: 1em;
}
h1 {
    background-color: rosybrown;
    padding: 1em;
}
h2.activity {
    background-color: darkseagreen;
    padding: 1em;
    width: max-content;
}
h2.remember {
    font-style: oblique;
    background-color: crimson;
    padding: 0.5em;
    color: gold;
    width: max-content;
}
div.remember {
    background-color: #E7F5FE;
    padding: 0.5em;
}
/* .remember .frac {
    color: #22A7C4;
}
.remember .frac span.bottom {
    border-top: thin solid #22A7C4;
}
.remember strong {
    color: #22A7C4;
} */

div.think {
    background-color: thistle;
}

ul {
    position: relative;
    list-style: none;
}

li::before {
    position: absolute;
    left: 0;
    font-weight: bold;
    vertical-align: middle;
}

li.question::before {
    content: '▶';
    color: darkseagreen;
}

li.red::before{
    content: '●'; /* unicode dot */
    color: red;
}
li.green::before{
    content: '◆'; /* unicode dot */
    color: green;
}

li.blue::before{
    content: '▶';
    color: blue;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* fraction */
.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
} 
